body{
    background-image: url('../img/wallpaper-brawl-stars-1920-1080-brawlers.jpg'); 
    background-repeat: no-repeat;
}

header{
    padding: 3%;
}

#menu ul li a {
  padding: 0px;
  margin:0px;
  background-color: rgb(234, 239, 243);
  list-style:none;
}

#menu ul li {display: inline;}

#meny ul li a{
 padding: 2px 10px;
display: inline-block;
text-decoration: none;
border-bottom:3px solid #EDEDED;
}


.logo{

}

nav{

}

 main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
 }

 section{
    
 }

 footer{
    padding: 3%;
 }

 .cabecalho{
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .rodape{
    padding: 3%;
 }

h1,h2,h3,h4,h5,h6{
   line-height: 3;
}
p{
   line-height: 1,5;
   font-size: 1.2em;
   text-align: justify;
}

.logo img{
   width: 30%;
   height: auto;
}
figure{

}

.caixa-imagem{
   
}
